# Ignore these files!
**/.vs/*
RomaniaProblem/Debug/*
RomaniaProblem/Release/*
RomaniaProblem/x64/Debug/RomaniaProblem.tlog/unsuccessfulbuild
*.tlog
RomaniaProblem/x64/Debug/RomaniaProblem.tlog/RomaniaProblem.lastbuildstate
*.obj
*.log
*.idb
*.pdb
*.obj
*.tlog
RomaniaProblem/x64/Debug/RomaniaProblem.tlog/unsuccessfulbuild
*.lastbuildstate
*.obj
*.idb
*.pdb
